@using Entities;
@model DonDatHang

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        Quản lý đơn hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "TrangChu")"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Quản lý đơn hàng</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Thông tin đơn hàng <font color="#f65e84">@Model.KhachHang.TenKH</font></h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                   
                    <br />

                    @using (Html.BeginForm())
                    {
                        <div class="ChiTietDonHang table">
                            @{IEnumerable<ChiTietDonDatHang> lstChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
                            <table class="table" id="table">
                                @*Phần thông tin đơn hàng*@
                                <tr>
                                    <td colspan="4">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>Mã đơn hàng: <b style="color:red;"> @Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></td>
                                                <td>Mã khách hàng: <b style="color:red;"> @Model.KhachHang.MaKH</b></td>
                                                <td>Tên khách hàng: <b style="color:red;"> @Model.KhachHang.TenKH</b></td>
                                                <td>Ngày đặt: @Model.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                                                <td>Đã thanh toán: @Html.EditorFor(model => model.DaThanhToan)</td>
                                                <td>Đã giao: @Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>



                                @*Thông tin chi tiết đơn hàng*@


                                <tr>
                                    <td><b>Sản phẩm</b></td>
                                    <td><b>Hình ảnh</b></td>
                                    <td><b>Số lượng đặt</b></td>
                                    <td><b>Đơn giá đặt</b></td>
                                </tr>

                                @foreach (var item in lstChiTietDH)
                                {
                                    <tr>
                                        <td>@item.SanPham.TenSP</td>
                                        <td><img width="100" height="100" src="@Url.Content("~/Content/HinhAnhSP/"+item.SanPham.HinhAnh)" /></td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.DonGia</td>
                                    </tr>
                                }
                                <tr>
                                    <td align="right" colspan="4">Tổng số lượng: @Model.ChiTietDonDatHangs.Sum(n => n.SoLuong) sản phẩm</td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="4">Tổng tiền: @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") đồng</td>
                                </tr>
                            </table>
                            <br /><br />
                            <input type="button" class="btn btn-info" value="In đơn hàng" id="btnInDonHang" />
                            <input type="submit" value="Lưu đơn hàng" class="btn btn-success" id="btnInDonHang" />
                        </div>
                    }

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section inDonHang{
    <script>
        $(document).ready(function () {
            $("#btnInDonHang").click(function () {
                var content = "<table>" + $("#table").html() + "</table>";
                InDonHang(content);
            });

            //Phương thức in
            function InDonHang(content) {
                var printWindow = window.open('', '', 'height=400,width=800');
                printWindow.document.write('<html><head><title>DIV Contents</title>');
                printWindow.document.write('</head><body >');
                printWindow.document.write(content);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
            }

        });

    </script>
    }
